@font-face {
	font-family: "iconfont";
	src: url("/public/fonts/iconfont.eot?777fb5b564320ba811f4d2c5be97074e?#iefix") format("embedded-opentype"),
url("/public/fonts/iconfont.woff?777fb5b564320ba811f4d2c5be97074e") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-age:before {
	content: "\f101";
}
.icon-appointment:before {
	content: "\f102";
}
.icon-bin:before {
	content: "\f103";
}
.icon-checked:before {
	content: "\f104";
}
.icon-clock:before {
	content: "\f105";
}
.icon-delete:before {
	content: "\f106";
}
.icon-doctor:before {
	content: "\f107";
}
.icon-email:before {
	content: "\f108";
}
.icon-flask:before {
	content: "\f109";
}
.icon-homedelivery:before {
	content: "\f10a";
}
.icon-info:before {
	content: "\f10b";
}
.icon-location:before {
	content: "\f10c";
}
.icon-minus:before {
	content: "\f10d";
}
.icon-mob:before {
	content: "\f10e";
}
.icon-parking:before {
	content: "\f10f";
}
.icon-phone:before {
	content: "\f110";
}
.icon-plus:before {
	content: "\f111";
}
.icon-rupee:before {
	content: "\f112";
}
.icon-shopping-cart:before {
	content: "\f113";
}
.icon-user:before {
	content: "\f114";
}
.icon-waiting:before {
	content: "\f115";
}
